body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 3vh;
    background: #EEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 250px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

main {
    
    display: flex;
}

.card img{
    width: 100%;
}

.card {
    box-sizing: border-box;
    border: solid 2px grey;
    margin: 5px;
    width: 40%;
}

.card table {
    border-collapse: collapse;
    width: 100%;
}

.card tr {
    border-bottom: 1px solid #f2f2f2;
}

.card td {
    padding: 15px;
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {

    main{

        flex-wrap: wrap;
    }

}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

    main{
        flex-direction: column;
    }
}